@charset "utf-8";
/* CSS Document */
div{
	overflow:hidden;
}

div div{
	text-align: center;
}

.top{
	float: left;
	margin:3px;
	width: 24%;
	border: 1px solid red;
}

.bottom{
	float: left;
	clear: both;
	width:99%;
	color:white;
	background-color:red;
	border: 1px solid red;
}

.flexcontainer{
	border: 1px solid red;
	padding: 5px;
}